.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image:
    linear-gradient(
      to right,
      light-dark(rgba(255, 255, 255, 0.95), rgba(20, 20, 31, 0.95)),
      light-dark(rgba(255, 255, 255, 0.6), rgba(20, 20, 31, 0.6))
    ),
    url(https://images.unsplash.com/photo-1484242857719-4b9144542727?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1280&q=80);
}

.form {
  min-height: 100vh;
  max-width: 450px;
  padding: 30px;
  padding-top: 80px;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-9));
  border-right: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));

  @media (max-width: 48em) {
    max-width: 100%;
  }
}

.title {
  font-family: Inter, var(--mantine-font-family);
  font-weight: 600;
  text-align: center;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: 50px;
}
